<h1>Editing book</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% end %>

<%= render "form", book: @book %>

<%= form_with(model: @book, local: true) do |form| %>

  <%= form.label :author %>
  <%= form.text_field :author %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.label :published_date %>
  <%= form.date_select :published_date %>

  <%= form.submit %>
<% end %>

<br>

<div>
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
</div>
