<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Published Date</th>
    </tr>
  </thead>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.price %></td>
      <td><%= book.published_date %></td>
      <td><%= link_to "Show this book", book %></td>
      <td><%= link_to 'Edit this book', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy this book', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</div>
</table>

<br>

<%= link_to "New book", new_book_path %>
